@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-base-white-raw: 100% 0 0; /* #FFFFFF */
  --theme-base-white-soft-raw: 97.91% 0 0; /* #F8F8F8 */
  --theme-base-white-softer-raw: 95.51% 0 0; /* #F0F0F0 */
  --theme-base-white: oklch(var(--theme-base-white-raw));
  --theme-base-white-soft: oklch(var(--theme-base-white-soft-raw));
  --theme-base-white-softer: oklch(var(--theme-base-white-softer-raw));

  --theme-base-black-raw: 0% 0 0; /* #000000 */
  --theme-base-black-soft-raw: 17.76% 0 0; /* #111111 */
  --theme-base-black-softer-raw: 25.2% 0 0; /* #222222 */
  --theme-base-black: oklch(var(--theme-base-black-raw));
  --theme-base-black-soft: oklch(var(--theme-base-black-soft-raw));
  --theme-base-black-softer: oklch(var(--theme-base-black-softer-raw));

  --theme-base-accent-raw: 67.84% 0.09 174.44; /* #55AA94 */
  --theme-base-accent: oklch(var(--theme-base-accent-raw));

  --color-background: 88.53% 0 0; /* #D9D9D9 */
  --color-foreground: var(--theme-base-black-soft-raw);

  --color-background-inv: var(--theme-base-black-soft-raw);
  --color-foreground-inv: var(--theme-base-white-soft-raw);

  --color-accent: var(--theme-base-accent-raw);
}

[data-theme='dark'] {
  --color-background: var(--theme-base-black-soft-raw);
  --color-foreground: var(--theme-base-white-soft-raw);

  --color-background-inv: var(--theme-base-white-soft-raw);
  --color-foreground-inv: var(--theme-base-black-soft-raw);
}

@layer base {
  html {
    font-feature-settings: 'ss04', 'ss08', 'liga';
  }
}

@layer utilities {
  .overlay-noise {
    background-image: url('/static/bg/noise.png');
  }

  .text-balance {
    text-wrap: balance;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  .animation-delay-800 {
    animation-delay: 800ms;
  }

  /* Inspired from: www.hover.dev/components/text#bubble-text */
  .hover-light {
    transition: all 0.3s;
    --light-offset-x: 0;
    --light-offset-y: 8px;
    --light-blur: 0;
    --light-alpha: 0;
    --light-color: rgba(0, 0, 0, var(--light-alpha));
    text-shadow: var(--light-offset-x) var(--light-offset-y) var(--light-blur) var(--light-color);
  }

  .hover-light:hover {
    --light-offset-x: 0px;
    --light-alpha: 0.40;
    --light-blur: 1px;
  }

  /* To the right */
  .hover-light:hover + .hover-light {
    --light-offset-x: 4px;
    --light-alpha: 0.33;
    --light-blur: 4px;
  }

  .hover-light:hover + .hover-light + .hover-light {
    --light-offset-x: 6px;
    --light-alpha: 0.25;
    --light-blur: 6px;
  }

  /* To the left */
  .hover-light:has(+ .hover-light:hover) {
    --light-offset-x: -4px;
    --light-alpha: 0.33;
    --light-blur: 4px;
  }

  .hover-light:has(+ .hover-light + .hover-light:hover) {
    --bubble-offset-x: -4px;
    --bubble-alpha: 0.25;
    --bubble-blur: 6px;
  }
}
