@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --noise-overlay: url('/static/bg/light-noise.png');

  --color-background: oklch(98.51% 0 89.88);
}

[data-theme='dark'] {
  --noise-overlay: url('/static/bg/dark-noise.png');

  --color-background: oklch(17.76% 0 89.88);
}

@layer utilities {
  .overlay-noise {
    background-image: var(--noise-overlay);
  }

  .text-balance {
    text-wrap: balance;
  }
}
